@page
@model SistemaCarteirinha.Models.Pessoa

<div class="text-center">
    <h1 class="display-4">Cadastro de Clientes (PJ)</h1>
</div>

@using (Html.BeginForm("Cadastro", "Api", FormMethod.Post))
{
    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label text-left">Cnpj*:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "11" } })
        </div>
    </div><br />

    <div class="form-group row">
        <label class="col-md-2 col-form-label text-left">Razão Social*:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "50" } })
        </div>
    </div><br />

    <div class="form-group row">
        <label class="col-md-2 col-form-label text-left">Nome Fantasia:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
        </div>
    </div><br />

    <div class="form-group row">
        <label class="col-md-2 col-form-label text-left">Endereço:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
        </div>
    </div><br />

    <div class="form-group row">
        <label class="col-md-2 col-form-label text-left">Telefone:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", maxlength = "11" } })
        </div>
    </div><br /><br />

    <div class="form-group row">
        <label class="col-md-2 col-form-label text-left">E-mail:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
        </div>
    </div><br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </div>
    </div>
}
